<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Success page</title>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    </head>
    <body>
     <div class="col-md-4 col-md-offset-4">
        <h1>Congratulations! You have finished all the flashcards!</h1>
        <a href="/reset" class="btn btn-success">Start again</a> 
       </div>
    </body>
</html>